section {
  height: 100vh;
  padding: 10px;
  border-bottom: 2.5px solid aqua;
}

section h2 {
  font-family: "Samarkan", "Pacifico", serif;
  font-size: 2.5em;
  text-align: center;
  letter-spacing: 2px;
  margin: 10px;
}
